<div class="about-cont" id="about">
    <!-- <img src="../../assets/images/darkgrad.png" alt="" class="bg-img"> -->
    <div class="txt">
        <img src="../../assets/images/abt.png" alt="" class="abt">
        <div class="desc">
            <h1>ABOUT ME</h1>
            <hr>
            <br>
            <div>
                <ul>
                    <li>Developing and maintaining complex IT solutions within project frameworks, ensuring timely
                        delivery and adherence to standards.</li>
                    <li>Contributing to defining functional and integration requirements, conducting development tests,
                        and documenting technical aspects.</li>
                    <li>Providing application support through troubleshooting and intervention, ensuring smooth
                        operations.</li>
                    <li>Assisting application and project managers in their respective roles.</li>

                    <li> Collaborating with cross-functional teams to gather requirements, design solutions, and
                        implement best practices for software development.</li>
                    <li> Analyzing user needs and software requirements to determine feasibility of design within time
                        and cost constraints.</li>
                    <li>Leading code reviews and ensuring adherence to coding standards and practices, promoting quality
                        and maintainability.</li>
                    <li> Implementing automated testing and continuous integration/continuous deployment (CI/CD)
                        pipelines to enhance development efficiency and software quality.</li>
                    <li> Conducting performance tuning, optimization, and debugging of applications to improve system
                        responsiveness and user experience.</li>
                    <li> Keeping up-to-date with emerging technologies and industry trends to incorporate innovative
                        solutions into projects.</li>
                    <li> Facilitating training sessions and workshops for team members and end-users to enhance
                        knowledge and utilization of IT systems.</li>

                </ul>

            </div>
        </div>
    </div>

</div>