<div class="about-cont" id="certifications">
    <div class="txt">
        <img src="../../assets/images/c.png" alt="" class="abt">
        <div class="desc">
            <h1>CERTIFICATIONS</h1>
            <hr>
            <br>
            <div >
                <ul>
                    <li><strong>SCRUM DEVELOPER CERTIFIED (SDC®)</strong></li>
                    <li><strong>MICROSOFT MTA</strong>
                        <ul>
                            <li>Software Development Fundamentals</li>
                            <li>HTML5 Application Development Fundamentals</li>
                        </ul>
                    </li>
                    <li><strong>MongoDB University</strong>
                        <ul>
                            <li>M320: MongoDB Data Modeling</li>
                            <li>M201: MongoDB Performance</li>
                            <li>M220J: MongoDB for Java Developers</li>
                            <li>M121: The MongoDB Aggregation Framework</li>
                            <li>M103: Basic Cluster Administration</li>
                            <li>M042: New Features and Tools in MongoDB 4.2</li>
                            <li>M001: MongoDB Basics</li>
                        </ul>
                    </li>
                    <li><strong>CISCO</strong>
                        <ul>
                            <li>CCNA 1 Routing and Switching: Introduction to Networks</li>
                        </ul>
                    </li>
                    <li><strong>Ministry of Communication Technologies and Digital Economy – Tunisia</strong>
                        <ul>
                            <li>M Dev Tunisia – Android</li>
                            <li>M Dev Tunisia - Cross Platform</li>
                        </ul>
                    </li>
                    <li><strong>HP LIFE</strong>
                        <ul>
                            <li>Certificates of completion of IT training units</li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>

    </div>